body {
    font-family: Monospace;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
}

canvas { 
    width: 100%; 
    height: 100%;
}

div#controls {
    position: absolute; 
    bottom: 0;
    padding-left: 2em;
    padding-bottom: 0.20em;
}

div#controls > * {
    font-size: 12pt;
    color: #ffffff;
}

button {
    border: 0.15em solid #ffffff;
    display:inline-block;
    font-size: 12pt;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-decoration:none;
    font-family: monospace;
    text-align: center;
    width: 3em;
    border-radius: 4px;
}

button.on {
    background-color:#ffffff;
    color: #000000
}

button.off {
    background-color:transparent;
    color: #ffffff
}